@media screen and (max-width: 649px) {
  .content-block {
    height: auto;
  }
  .content-block-fullscreen {
    height: 100vh;
  }
  .block-pre-heading {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .block-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .logo-image {
    width: 40px;
    height: 40px;
  }
  .logo-text {
    font-size: 18px;
  }
  .header {
    padding: 10px 0;
  }
  .container {
    padding: 0 10px;
  }
  .content-block .container {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .half-block-wrapper {
    flex-direction: column;
  }
  .half-block {
    width: 100%;
    padding: 0;
  }
  .block-bg-heading-wrapper {
    padding-top: 45px;
  }
  .block-bg-text {
    font-size: 60px;
    left: 50%;
  }
  .block-bg-heading {
    font-size: 30px;
    text-align: center;
  }
  .block-text {
    padding: 0 10px;
  }
  .half-block-right {
    order: 1;
  }
}
@media screen and (min-width: 650px) and (max-width: 767px) {
  .block-pre-heading {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .block-heading {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .header {
    padding: 20px 0;
  }
  .container {
    padding: 0 20px;
  }
  .content-block .container {
    padding-top: 110px;
    padding-bottom: 90px;
  }
  .block-bg-heading-wrapper {
    padding-top: 65px;
  }
  .block-bg-text {
    font-size: 100px;
    left: 40%;
  }
  .block-bg-heading {
    font-size: 40px;
  }
  .half-block-left .block-bg-text {
    right: 40%;
    left: auto;
    transform: translateX(50%);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .block-pre-heading {
    font-size: 30px;
  }
  .block-heading {
    font-size: 50px;
  }
  .block-bg-heading-wrapper {
    padding-top: 65px;
  }
  .block-bg-text {
    font-size: 100px;
    left: 40%;
  }
  .block-bg-heading {
    font-size: 40px;
  }
  .half-block-left .block-bg-text {
    right: 40%;
    left: auto;
    transform: translateX(50%);
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {

}
@media screen and (min-width: 1200px) {
  
}