@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
html {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
body {
  background: #121212;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes body-block-background {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255,255,255,.05);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes logo-glitch {
  0% {
    background: url(../img/logo.jpg) no-repeat center / cover;
    opacity: 1;
  }
  8% {
    background: url(../img/logo.jpg) no-repeat center / cover;
    opacity: 1;
  }
  10% {
    background: url(../img/glitch.gif) no-repeat center / cover;
    opacity: 0.3;
  }
  12% {
    background: url(../img/logo.jpg) no-repeat center / cover;
    opacity: 1;
  }
  14% {
    background: url(../img/logo.jpg) no-repeat center / cover;
    opacity: 1;
  }
  16% {
    background: url(../img/glitch.gif) no-repeat center / cover;
    opacity: 0.3;
  }
  20% {
    background: url(../img/glitch.gif) no-repeat center / cover;
    opacity: 0.3;
  }
  22% {
    background: #fff url(../img/q-char.png) no-repeat center / 30px;
    opacity: 1;
  }
  26% {
    background: #fff url(../img/q-char.png) no-repeat center / 30px;
    opacity: 1;
  }
  28% {
    background: url(../img/glitch.gif) no-repeat center / cover;
    opacity: 0.3;
  }
  52% {
    background: url(../img/glitch.gif) no-repeat center / cover;
    opacity: 0.3;
  }
  54% {
    background: #fff url(../img/b-char.png) no-repeat center / 40px;
    opacity: 1;
  }
  58% {
    background: #fff url(../img/b-char.png) no-repeat center / 40px;
    opacity: 1;
  }
  60% {
    background: url(../img/glitch.gif) no-repeat center / cover;
    opacity: 0.3;
  }
  64% {
    background: url(../img/glitch.gif) no-repeat center / cover;
    opacity: 0.3;
  }
  66% {
    background: #fff url(../img/favicon.png) no-repeat center / 30px;
    opacity: 1;
  }
  68% {
    background: #fff url(../img/favicon.png) no-repeat center / 30px;
    opacity: 1;
  }
  70% {
    background: url(../img/glitch.gif) no-repeat center / cover;
    opacity: 0.3;
  }
  74% {
    background: url(../img/glitch.gif) no-repeat center / cover;
    opacity: 0.3;
  }
  78% {
    background: url(../img/logo.jpg) no-repeat center / cover;
    opacity: 1;
  }
}
body::before {
  position: fixed;
  top: 500px;
  left: -100px;
  bottom: 0;
  content: '';
  width: 400px;
  height: 400px;
  border: 2px solid rgba(255,255,255,.05);
  z-index: -1;
  animation: 
    rotate 20s linear infinite,
    body-block-background 4s ease-in-out infinite;
}
body::after {
  position: fixed;
  top: -150px;
  right: -50px;
  bottom: 0;
  content: '';
  width: 600px;
  height: 600px;
  border: 2px solid rgba(255,255,255,.05);
  z-index: -1;
  animation: 
    rotate 40s linear infinite,
    body-block-background 4s ease-in-out 2s infinite;
}
.preloader {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000000;
}
.preloader-inactive .preloader-top {
  left: -100%;
}
.preloader-inactive .preloader-bottom {
  right: -100%;
}
.preloader-active .preloader-top {
  left: 0;
}
.preloader-active .preloader-bottom {
  right: 0;
}
.preloader-out,
.preloader-in {
  display: block;
}
.preloader-out .preloader-top {
  animation: preloader-top-out 0.5s ease-in-out 1s;
}
.preloader-out .preloader-bottom {
  animation: preloader-bottom-out 0.5s ease-in-out 1s;
}
.preloader-in .preloader-top {
  animation: preloader-top-in 0.5s ease-in-out;
}
.preloader-in .preloader-bottom {
  animation: preloader-bottom-in 0.5s ease-in-out;
}
@keyframes preloader-top-out {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes preloader-bottom-out {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
@keyframes preloader-top-in {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes preloader-bottom-in {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
.preloader-top,
.preloader-bottom {
  position: absolute;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader-top {
  left: 0;
  top: 0;
  background: #121212;
}
.preloader-bottom {
  right: 0;
  bottom: 0;
  background: #121212;
}
.preloader-text {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}
.preloader-top .preloader-text {
  padding-top: 20%;
}
.preloader-bottom .preloader-text {
  padding-bottom: 20%;
}
.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 30px;
}
.content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: left 0.3s;
}
.side-menu-active .content {
  left: -250px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  background: rgba(18, 18, 18, 0.5);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper {
  display: flex;
  align-items: center;
}
.logo-image {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background: url(../img/logo.jpg) no-repeat center / cover;
  animation: logo-glitch 10s linear infinite;
}
.logo-text {
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.menu-btn {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.menu-btn::before,
.menu-btn::after,
.menu-btn span {
  height: 2px;
  right: 0;
  width: 100%;
  background: #fff;
  position: absolute;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.5s;
}
.menu-btn::before,
.menu-btn::after {
  content: '';
}
.menu-btn::before {
  top: 12px;
}
.menu-btn::after {
  bottom: 12px;
}
.menu-btn:hover::before,
.menu-btn:hover::after {
  width: 20px;
}
.menu-btn:hover::before {
  top: 13px;
  transform: rotate(30deg);
}
.menu-btn:hover::after {
  bottom: 13px;
  transform: rotate(-30deg);
}
.menu-btn span {
  top: 50%;
  transform: translateY(-50%);
}
.side-menu-wrapper {
  position: fixed;
  width: 250px;
  height: 100vh;
  right: -100%;
  background: rgba(255,255,255,.05);
  padding: 20vh 20px;
  transition: right 0.3s;
  border-left: 2px solid rgba(255,255,255,.05);
}
.side-menu-active .side-menu-wrapper {
  right: 0;
}
.side-menu {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
.side-menu-item {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
}
.content-block {
  height: 100vh;
}
.content-block .container {
  height: 100%;
  padding-top: 140px;
  padding-bottom: 110px;
}
.splide,
.splide__track,
.splide__list,
.slide-item {
  height: 100%;
  outline: none;
}
.block-caption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block-pre-heading {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgba(255,255,255,.6);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 20px 0;
}
.block-heading {
  font-size: 55px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 20px 0;
}
.half-block-wrapper {
  display: flex;
  justify-content: space-between;
}
.half-block {
  height: 100%;
  width: 50%;
  padding: 0 10px;
}
.half-block-left {
  order: 1;
}
.half-block-right {
  order: 2;
}
.block-bg-heading-wrapper {
  padding-top: 100px;
  margin-bottom: 20px;
  position: relative;
}
.block-bg-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 140px;
  font-weight: 700;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.08);
  text-transform: uppercase;
}
.block-bg-heading {
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  line-height: 1.5;
  font-size: 50px;
}
.block-text {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  text-align: justify;
}
.half-block-left .block-bg-heading-wrapper {
  text-align: right;
}